@import "../../variables";

.Wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $accent-blue;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  cursor: pointer;
  padding: 10px;
  &:hover {
    background: darken($accent-blue, 15%);
  }
}