.Wrapper {
  display: flex;
  position: relative;
}

.Input {
  min-width: 230px;

  border-radius: 4px;
  background-color: #e7e7e7;
  color: black;
  outline: none;
  padding: 10px 7px 10px 36px;

  border: none;
  &::placeholder {
    color: black;
  }
}
.Icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.ResetIcon {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  &:hover {
    color: red;
  }
}